html {
    background: #0a122a;
}

#games-container {
    width: 100%;
    text-align: center;
}

canvas {
    border-color: red;
    border-style: solid;
    border-radius: 1%;
    display: inline;
}

h1 {
    text-align: center;
}

h1 a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 a:hover {
    color: rgb(241, 241, 241);
    font-style: italic;
    text-decoration: underline;
}

#buttons, #infos {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#train, #pause, #restart {
    margin-left: 30px;
}

#train, label, #restart, #best-score, #generation, #min-fitness, #max-fitness, #average-fitness {
    font-size: medium;
    font-weight: bold;
}

label, #generation, #best-score, #min-fitness, #max-fitness, #average-fitness {
    color: white;
}

button {
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;

    background-color:rgb(255, 65, 65);

    border-style: solid;
    border-radius: 6px;
    border-color: rgb(212, 0, 0);
}

button:hover {
    background-color: rgb(255, 204, 204);
}

#infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#generation, #best-score, #min-fitness, #max-fitness, #average-fitness {
    margin-left: 25px;
}

#best-score {
    margin-right: 80px;
}