html {
    background: #0a122a;
}

#games-container {
    width: 100%;
    text-align: center;
}

canvas {
    border-color: red;
    border-style: solid;
    border-radius: 1%;
    display: inline;
}

h1 {
    text-align: center;
}

h1 a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 a:hover {
    color: rgb(241, 241, 241);
    font-style: italic;
    text-decoration: underline;
}